# Ignorar el entorno virtual
env/
venv/
.venv/

# Ignorar archivos de dependencias de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos de configuración de VS Code
.vscode/

# Ignorar archivos de Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignorar archivos de sistema
.DS_Store

# Ignorar cualquier otra carpeta de librerías que no quieras subir