altair==5.5.0
asgiref==3.7.2
astroid==2.15.6
asttokens==2.2.1
attrs==25.3.0
blinker==1.9.0
cachetools==5.5.2
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
customtkinter==5.0.1
darkdetect==0.7.1
dill==0.3.7
Django==4.2.3
docutils==0.20.1
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
isort==5.12.0
jedi==0.19.0
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
lazy-object-proxy==1.9.0
MarkupSafe==3.0.2
mccabe==0.7.0
mypy==1.4.1
mypy-extensions==1.0.0
mysql-connector-python==8.0.31
narwhals==1.40.0
numpy==2.2.6
packaging==24.2
pandas==2.2.3
parso==0.8.3
pillow==11.2.1
platformdirs==3.10.0
plotly==6.1.1
protobuf==6.31.0
psycopg2-binary==2.9.7
pyarrow==20.0.0
pydeck==0.9.1
pylint==2.17.5
pypi==2.1
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2025.2
referencing==0.36.2
requests==2.32.3
rpds-py==0.25.1
Send2Trash==1.8.2
six==1.17.0
smmap==5.0.2
sqlparse==0.4.4
streamlit==1.45.1
streamlit-autorefresh==1.0.1
streamlit-lottie==0.0.5
tabulate==0.9.0
tenacity==9.1.2
thonny==4.1.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
tornado==6.5
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
wrapt==1.15.0
